<div class="w-1/4 mb-10 px-2">
    <div class="w-full h-64 bg-cover bg-center rounded-sm mb-2" style="background-image:url({{ room.first_photo }})">
    </div>
    <div class="flex justify-between mb-2">
        <div class="flex w-3/4">
            {% if room.host.superhost %}
            <span
                class="mr-2 uppercase font-semibold text-xs border border-black text-black rounded py-px px-1">superhost</span>
            {% endif %}
            <span class="text-sm text-gray-600 truncate">{{ room.city }}, {{room.country.name}}</span>
        </div>
        <span class="text-sm items-center">
            <i class="fas fa-star text-red-500 text-xs mr-px"></i>
            {{ room.total_rating }}
        </span>
    </div>
    <span class="text-black w-11/12 truncate block">{{ room.name }}</span>
</div>