{% extends 'base.html' %}

{% block page_title %}
{{ room.name }}
{% endblock page_title %}

{% block content %}
<div>
    <h2>By: <a href="{{room.host.get_absolute_url}}">{{room.host.username}}</a></h2>
    <p>{{ room.name }}</p>
    <p>{{ room.description }}</p>
    <p>{{ room.country }}</p>
    <p>{{ room.city }}</p>
    <p>{{ room.price }}</p>
    <p>{{ room.address }}</p>
    <p>{{ room.beds }}</p>
    <p>{{ room.bedrooms }}</p>
    <p>{{ room.baths }}</p>
    <p>{{ room.check_in }}</p>
    <p>{{ room.check_out }}</p>
    <p>{{ room.instant_book }}</p>
    <p>{{ room.host }}</p>
    <p>{{ room.room_type }}</p>
    <p>{{ room.amenities }}</p>
</div>
{% endblock %}