{% extends 'base.html' %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

<div class="bg-gray-800 container rounded-xl h-50vh mx-auto mt-32 mb-24 bg-cover bg-center"
    style="background-image:url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&)">

</div>

{% for room in rooms %}
<a href="{% url 'rooms:detail' room.pk %}">
    <p>{{ room.name }}</p>
</a>

{% endfor %}

<h5>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</h5>

{% if page_obj.has_previous %}
<a href="?page={{page_obj.previous_page_number}}">prev</a>
{% endif %}


{% if page_obj.has_next %}
<a href="?page={{page_obj.next_page_number}}">next</a>
{% endif %}

{% endblock %}