{% extends 'base.html' %}

{% block page_name %}
Home
{% endblock page_name %}

{% block content %}
<div>
    <p>{{ room.name }}</p>
    <p>{{ room.description }}</p>
    <p>{{ room.country }}</p>
    <p>{{ room.city }}</p>
    <p>{{ room.price }}</p>
    <p>{{ room.address }}</p>
    <p>{{ room.beds }}</p>
    <p>{{ room.bedrooms }}</p>
    <p>{{ room.baths }}</p>
    <p>{{ room.check_in }}</p>
    <p>{{ room.check_out }}</p>
    <p>{{ room.instant_book }}</p>
    <p>{{ room.host }}</p>
    <p>{{ room.room_type }}</p>
    <p>{{ room.amenities }}</p>
</div>
{% endblock %}