@tailwind base;
@tailwind components;

.search-box {
    transition: box-shadow 0.2s linear;
}

.nav_link {
    @apply ml-8 border-b-2 border-white h-full flex items-center;
    a {
        @apply py-10 px-5;
    }
    &:hover {
        @apply border-gray-600;
    }
}

.btn {
    @apply rounded-sm text-center py-5 font-medium text-lg font-light w-full
}

input,
textarea,
select {
    @apply text-left px-5 border border-gray-600 rounded-sm py-4 font-light text-base font-light w-full;
    &:focus {
        @apply outline-none border-teal-500;
    }
}

textarea {
    resize: none;
    height: 100px;
}

select {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
}

.btn-link {
    @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

form {
    .input {
        @apply mb-3 w-full;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-400;
                &:focus {
                    @apply border-gray-600;
                }
            }
        }
    }
}

@keyframes messageFadeIn {
    0% {
        transform: translateY(-70px)
    }
    5% {
        transform: translateY(50px)
    }
    95% {
        transform: translateY(50px)
    }
    100% {
        transform: translateY(-70px)
    }
}

.message {
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error {
        @apply bg-red-700;
    }
    &.info {
        @apply bg-blue-500;       
    }
    &.success {
        @apply bg-green-500;
    }
    &.warning {
        @apply bg-yellow-400;
    }
}
@tailwind utilities;
